#b_load-more-btn {
    cursor: pointer;
}
.featured-img1, .featured-img2, .featured-img3, .featured-img4 {
    background-image: url('https://iamuzzalhossen.github.io/me/images/post-thumbnail01.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}
.featured-img2 {
    background-image: url('https://iamuzzalhossen.github.io/me/images/post-thumbnail02.webp');
}
.featured-img3 {
    background-image: url('https://iamuzzalhossen.github.io/me/images/post-thumbnail03.webp');
}
.featured-img4 {
    background-image: url('https://iamuzzalhossen.github.io/me/images/post-thumbnail04.webp');
}
.featured-img1::before, .featured-img2::before, .featured-img3::before, .featured-img4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.featured-img1 h1, .featured-img2 h1, .featured-img3 h1, .featured-img4 h1 {
    position: relative;
    z-index: 2;
    text-align: center;
}
.post-meta-info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-meta-info ul li {
    position: relative;
    list-style: none;
    font-style: italic;
    display: inline-block;
    padding: 10px 15px;
    z-index: 2;
}
li.m_author, li.m_date, li.m_category {
    color: var(--base-button-text-color);
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.m_author a {
    text-decoration: none;
    color: #ffffff;
}
.single-post {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--base-section-first-color);
    padding: var(--base-md-section-padding);
}
.sp_content {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sp_content-img {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 20px;
    margin: 30px 0 10px;
}
.sp_content h2 {
    text-align: left;
    padding: 0;
    font-size: var(--base-h2-sm-font-size);
    line-height: var(--base-h2-sm-line-height);
}
.sp_content h3 {
    font-size: var(--base-h3-sm-font-size);
    line-height: var(--base-h3-sm-line-height);
}
.sp_content h4 {
    font-size: var(--base-h456-sm-font-size);
    line-height: var(--base-h456-sm-line-height);
}
.more-post-info {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 10px;
    gap: 20px;
}
.more-post-info .post-categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    margin: 30px 0;
}
.post-categories ul li {
    list-style: none;
    display: inline-block;
    padding: 0 3px 15px;
}
a.taxonomy-btn {
    text-decoration: none;
    font-size: 13px;
    color: var(--base-button-text-color);
    background-color: var(--primary-color);
    border-radius: 24px;
    padding: 6px 12px;
    cursor: pointer;
}
a.taxonomy-btn:hover {
    background-color: var(--accent-color);
}
.more-post-info .author-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: dashed var(--base-border-color);
    border-width: 1px 0;
    padding: 30px 0;
}
.more-post-info i {
    margin-right: 3px;
}
.more-post-info .author-info {
    max-width: 600px;
    gap: 20px;
    padding: 20px 0;
}
.author-img {
    width: 120px;
    height: 120px;
    border: 2px solid #e5b02a;
}
.related-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 0;
}
.related-posts #blog-card {
    justify-content: flex-start;
    padding: 15px 0 0;
}
.related-posts .blog-img {
    height: 220px;
}
.related-posts .b_title {
    font-size: var(--base-lg-content-font-size);
    line-height: var(--base-lg-content-line-height);
    padding: 0;
}
